* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.schoolimage {
  width: 80%;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}

.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s ease all;
}
.dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s ease all;
}

.logo {
  height: 35px;
  width: 120px;
}

.background-radial-gradient {
  height: 100vh;
  background-color: #F2F3F4
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#34495E, #34495E);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#34495E, #34495E);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #34495E;
  text-decoration: none;
  transition: color 1s ease-in-out, background-color 1s ease-in-out,
    border-color .1s ease-in-out;
}
.nav-link:hover {
  background-color: #34495E;
  cursor: pointer;
  border-radius: 55px;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.accordion-button:not(.collapsed) {
  color: black;
  background-color: #8594a3 !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus {
  z-index: 3;
  border-color: #34495E !important;
  outline: 0;
  box-shadow: #34495E;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("") !important;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("") !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: #F2F3F4;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none!important; 
}

input#form3Example4 {
  position: relative;
}

.icon{
  position: absolute;
    right: 0;
    margin-top: -25px;
    margin-right: 50px;

}


/* React-Paginate Css Start */

.react-paginate{
  display: inline-flex;
  float: right;
  justify-content: space-between;
  list-style-type: none;
}
.react-paginate li{
  margin-left: 20px;
}
